<app-header></app-header>

<h1>CADASTRO DE CONTAS</h1>

<div class="client-form">
  <div>
    <label for="client">Cliente:</label>
    <select id="client" [(ngModel)]="selectedClient" name="client" required>
      <option *ngFor="let client of clients" [value]="client.document">{{ client.name }} - {{ client.document }}</option>
    </select>
  </div>
  
  <div>
    <label for="accountNumber">Número da conta:</label>
    <input type="number" id="accountNumber" [(ngModel)]="accountNumber" name="accountNumber" pattern="[0-9]*" required>
  </div>
  
 <button (click)="createAccount(selectedClient, accountNumber)">Salvar</button>

</div>

<div>
  
  <button (click)="getDetails()">Details</button>

</div>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Número da Conta</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.name }}</td>
      <td>{{ client.document }}</td>
 
    </tr>
  </tbody>
</table>
